* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *************** variables and general settings ************** */
:root {
  --color-font-menu: #fff5e1;
  --color-font-menu-selected: #f7f6f5;
  --color-font-title1: #ff6b00;
  --color-font-title2: #fff5e1;
  --color-font-text1: #fff5e1;
  --color-back-bars: #3c3a39;
  --color-back-dark: #1c1a19;
  --color-font-title2-dark: #1c1a19;
  --color-font-text-dark: #1c1a19;
  --font-toolbar: 'Inter', serif;
  --font-title1: 'Crete Round', serif;
  --font-title2: 'Roboto', serif;
  --font-text1: 'Poppins', serif;
  --color-font-title1_card: #fff;
  --color-font-title2_card: #fff;
  --color-font-text1_card: #fff;
  --color-background_clear: white;
  --color-line-div: #212121;
  --color-back-btn-card: rgba(255, 255, 255, 0.24);
  --color-main-card-title: #091e42;
  --color-main-card-text: #091e42;
  --font-card-title: 'Crete Round', serif;
  --font-card-text: 'Inter', serif;
  --font-btn: 'Inter', serif;
  --font-color-about: #f4f5f7;
  --transition-transform: transform 0.7s ease;
  --transition-font: font-size 0.7s ease;
  --card-gradient: linear-gradient(180deg, rgba(38, 38, 38, 5%) 0%, rgba(38, 38, 38, 0.9) 61.94%);
  --color-font-contactme-text: #172b4d;
  --color-background-clear: #e5e5e5;
  --color-background-textarea: #fbf8f7;
  --color-line-div-clear: #dfe1e6;
  --color-btn-normal: #f55800;
  --color-btn-active: #e05304;
  --color-btn-hover: #fff5e1;
  --color-btn-disabled: #f4f1f0;
  --color-border-inputfield: #dbd8d7;
  --color-thick-Line: #0d151e;
  --color-background-field-focus: #f0d2c0;
}

body {
  font-size: 16px;
}

/* *************** mobile version - mobile fisrt design ************** */

.Toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: var(--color-back-bars);
  padding: 1rem;
  padding-right: 1rem;
  font-family: var(--font-toolbar);
  color: var(--color-font-menu);
  animation: slideInLeft 1s;
}

.logo {
  animation: slideInLeft 2s 0.3s;
}

.Mylogo {
  padding-left: 1.5rem;
  font-size: 1.2rem;
  color: var(--color-font-title2);
  font-family: var(--font-title2);
  background-color: var(--color-back-bars);
  text-decoration: none;
}

.menu-pc {
  display: none;
  font-size: 0.9rem;
  color: var(--color-font-menu);
  justify-content: flex-end;
  align-items: center;
  order: 99;
}

.menu-mobile {
  background-color: var(--color-back-bars);
}

.burguer-menu {
  margin-right: 1rem;
  background-color: var(--color-back-bars);
  height: 1rem;
}

.main-frame {
  display: flex;
  background-color: var(--color-back-dark);
  bottom: 0;
}

.content1 {
  display: flex;
  flex-direction: column;
  background-image: url("../images/background-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom -7.5rem right;
  overflow: hidden;
}

.Headline {
  padding: 0 1.5rem;
}

.big-title {
  color: var(--color-font-title1);
  font-family: var(--font-title1);
  padding-top: 6.5rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 105%;
}

.Supportingtext {
  padding-top: 0.7rem;
  color: var(--color-font-title2);
  font-family: var(--font-title2);
  font-size: 1.3rem;
}

.Simpletext {
  padding-top: 0.7rem;
  color: var(--color-font-text1);
  font-family: var(--font-text1);
  font-style: normal;
  font-size: 0.85rem;
}

.iconlist_main {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 1rem 0 8.5rem 2rem;
  gap: 1rem;
}

.socialmediaicon {
  height: 1rem;
  width: auto;
}

.socialmediaicon:hover {
  transform: translateY(-0.3rem);
  transition: var(--transition-transform);
}

.burguer-menu:hover {
  transform: translateY(-0.1rem);
  transition: var(--transition-transform);
}

/*  ******** Recent Works Section ****** */

.recentworks_cnt {
  padding: 7.5rem 1.5rem;
  background-color: var(--color-background_clear);
}

.RecentWorksSectionTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.25rem;
  text-align: center;
  align-items: center;
}

.Title_MyRecentWorks h3 {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  font-family: var(--font-title1);
  font-weight: lighter;
  color: var(--color-font-title2-dark);
  font-size: 2.5rem;
}

.recentworks-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--color-line-div);
}

/*************** Grid layout for  project cards ********************/

/* The grid container */
.grid_works {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-areas:
    'header'
    'left'
    'middle'
    'right';
  grid-column-gap: 1rem;
}

/* Style the left column */
.header1 {
  grid-area: header;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* ****** main card work *********** */

.cnt_info_main_card {
  width: 100%;
  margin-bottom: 2.8rem;
}

.cnt_img_main_card {
  width: auto;
}

.main_card_cnt_img {
  width: 100%;
}

.MainCardTitle {
  font-family: var(--font-card-title);
  font-size: 2rem;
  font-weight: lighter;
  color: var(--color-main-card-title);
  padding-top: 1rem;
}

.MainCardDescrip {
  font-size: 0.9rem;
  font-family: var(--font-card-text);
  color: var(--color-main-card-text);
  padding-top: 0.7rem;
}

.list_feat {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem auto;
}

.list_feat > * + * {
  margin-left: 0.5rem;
}

.li_btn {
  list-style: none;
  font-family: var(--font-text1);
  color: var(--color-main-card-text);
  font-weight: bolder;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  border: solid 1px var(--color-main-card-title);
  margin-right: 0.8rem;
  font-style: normal;
}

.li_btn_2 {
  list-style: none;
  padding: 8px;
  color: var(--color-font-text1_card);
  background-color: var(--color-back-btn-card);
  border: none;
  margin-right: 0.7rem;
  font-family: var(--font-text1);
  font-style: normal;
}

/******************* Cards for other works ***************************/

.sec_card_cnt {
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  margin-bottom: 1.5rem;
  min-height: 386px;
  max-width: 435px;
  justify-self: center;
  transition: scale 1s ease;
}

.sec_card_cnt:hover {
  scale: 1.05;
}

/****************************************************************   */

.work-1 {
  background: var(--card-gradient), url("../images/img-ph1.png") no-repeat center;
  background-size: cover;
}

.work-2 {
  background: var(--card-gradient), url("../images/img-ph1.png") no-repeat center;
}

.work-3 {
  background: var(--card-gradient), url("../images/img-ph1.png") no-repeat center;
}

.work-4 {
  background: var(--card-gradient), url("../images/img-ph1.png") no-repeat center;
}

.work-5 {
  background: var(--card-gradient), url("../images/img-ph1.png") no-repeat center;
}

.work-6 {
  background: var(--card-gradient), url("../images/img-ph1.png") no-repeat center;
}

/* ************** Fonts and config for cards ******************* */
.cnt_info_card {
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Title1_card {
  color: var(--color-font-title1_card);
  font-family: var(--font-card-title);
  font-size: 2rem;
  font-weight: 300;
}

.Title2_card {
  color: var(--color-font-title1_card);
  font-family: var(--font-card-title);
  font-size: 2rem;
  font-weight: 300;
}

.CardDescrip {
  color: var(--color-font-text1_card);
  font-family: var(--font-card-text);
  font-size: 1rem;
  padding-top: 0.7rem;
}

/********************** buttons for card ********************/

.SeeProjectBtn {
  display: block;
  background-color: var(--color-font-title1);
  border: 1px solid var(--color-font-title1);
  font-family: var(--font-btn);
  font-weight: bold;
  padding: 0.75rem;
  text-decoration: none;
  color: var(--color-font-text1_card);
  transition: transform 0.4s ease;
  text-align: center;
  letter-spacing: 0.1rem;
}

/********* general config to btns  ***********/

.BtnClass {
  font-weight: bold;
  text-decoration: none;
  width: fit-content;
  transition: transform 0.8s ease;
}

.project_btn_2 {
  color: var(--color-font-menu);
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.8s ease;
}

.SeeProjectBtn:hover {
  border: 1px solid var(--color-btn-normal);
  background-color: var(--color-btn-hover);
  color: var(--color-font-title1);
  cursor: pointer;
}

.SeeProjectBtn:active {
  background-color: var(--color-btn-active);
  color: var(--color-btn-disabled);
  cursor: pointer;
}

/* ************** ABOUT SECTION ****************** */
.back_dark {
  background-color: var(--color-back-dark);
}

.about_cnt {
  display: flex;
  flex-direction: row;
  background-image: url("../images/about-me-mobile-img.png");
  background-repeat: no-repeat;
  background-size: 12rem;
  background-position: bottom  right;
  overflow: hidden;
  padding: 7.5rem 1.5rem;
}

.about_info {
  width: 100%;
}

.Tittle_about {
  padding-bottom: 1rem;
}

.DescripAbout {
  color: var(--font-color-about);
  font-family: var(--font-card-text);
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.7rem;
}

.resume_btn {
  margin-top: 1.5rem;
  margin-bottom: 7rem;
}

/************************* SKILLS SECTION**** ********************/

.skills_cnt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1.5rem 5.4rem 1.5rem;
}

.line_div_dark {
  display: block;
  width: 100%;
  border-top: var(--color-font-text1_card) 1px solid;
  padding-bottom: 7.5rem;
}

.ul_skill {
  font-family: var(--font-card-text);
  color: var(--color-font-text1_card);
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
  padding-bottom: 1.5rem;
}

.ul_skill_icon {
  height: 1.5rem;
  margin-right: 1rem;
}

.ul_skill_icon_d {
  height: 1.5rem;
  margin-right: 1rem;
}

.li_skills {
  font-family: var(--font-card-text);
  color: var(--color-font-text1_card);
  font-size: 1.3rem;
  list-style: none;
  text-align: center;
  margin: 1rem;
}

.li_skills_1 {
  padding-top: 1.5rem;
}

/******************** SECTION CONTACT ME  **************************/

.contact_cnt {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--color-font-text-dark);
  font-family: var(--font-text1);
  padding: 4.5rem 1.5rem;
  margin-top: 3rem;
}

.ContactDescript {
  font-family: var(--font-card-text);
  color: var(--color-font-contactme-text);
  font-size: 2rem;
  text-align: center;
  line-height: 2.75rem;
}

.form_input_fields {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  align-content: center;
  align-items: center;
}

.input_field {
  border-style: none;
  border-bottom: 1px solid;
  border-bottom-color: var(--color-border-inputfield);
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

.text_area {
  border: none;
  background-color: var(--color-background-textarea);
  padding: 1rem;
  width: 100%;
  height: 6rem;
  font-size: 1rem;
  font-style: italic;
}

.input_field:focus,
.text_area:focus {
  background-color: var(--color-background-field-focus);
}

.project_btn_submit {
  color: var(--color-font-text1_card);
  margin-top: 1.3rem;
  font-size: 1rem;
}

/*********************** footer section ************************/

.footer {
  display: flex;
  flex-direction: column;
  border-top: var(--color-line-div-clear) 1px solid;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1.5rem;
  align-items: center;
}

.iconlist_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.thick-line {
  margin-top: 3rem;
  border-radius: 1rem;
  width: 33vw;
  border: 4px solid var(--color-thick-Line);
}

/****************** general settings for desktop version elements ************************/

.item-menu-pc {
  padding: 0 1rem 0 1rem;
  background-color: var(--color-back-bars);
}

.item-menu-pc:hover {
  transform: translateY(-0.2rem);
  transition: var(--transition-transform), var(--transition-font);
  font-size: larger;
  font-weight: bold;
  color: var(--color-font-menu-selected);
}

.item-menu-pc-icon {
  background-color: var(--color-back-bars);
  height: 1rem;
}

.item-menu-pc-icon:hover {
  transform: scale(1.5) translateY(-0.2rem);
  transition: var(--transition-transform);
}

/********************** MEDIA QUERIES *********************************/

/****************** desktop version (768px) ***********************/

@media screen and (min-width: 768px) {
  /********** M.Q menu and first page ****************/

  .menu-mobile {
    display: none;
  }

  .logo {
    padding-left: 10%;
  }

  .menu-pc {
    display: flex;
    padding-right: 10%;
  }

  .content1 {
    flex-direction: row;
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -2.5rem right;
    overflow: hidden;
    min-height: 60vw;
    align-items: center;
  }

  .Headline {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 45%;
  }

  .iconlist_main {
    flex-direction: column;
    order: -1;
    justify-content: center;
    padding: 0 2.25rem;
    gap: 1rem;
  }

  .socialmediaicon:hover {
    transform: translateX(0.5rem);
    transition: var(--transition-transform);
    font-size: larger;
    font-weight: bold;
    color: var(--color-font-menu-selected);
  }

  .big-title {
    padding-top: 0;
  }

  /********** M.Q recentworkst ****************/
  .recentworks_cnt {
    padding: 3.5rem 1.5rem;
    background-color: var(--color-background_clear);
  }

  .RecentWorksSectionTitle {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .Title_MyRecentWorks {
    padding-right: 1rem;
  }

  .Title_MyRecentWorks h3 {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 20rem;
  }

  .recentworks-line {
    width: 1fr;
  }

  .grid_works {
    display: grid;
    grid-template-areas:
      'header header header'
      'left middle right';
    gap: 1rem;
    justify-content: space-around;
  }

  .header1 {
    display: flex;
    flex-direction: row;
    width: 90vw;
  }

  .cnt_img_main_card {
    flex-basis: 70%;
  }

  .cnt_info_main_card {
    flex-basis: 30%;
    padding: 0 1.5rem;
  }

  .sec_card_cnt {
    /* margin: 1.3rem 1rem; */
    min-height: 386px;
    max-width: 435px;
    justify-self: center;
  }

  /********************** about *******************/
  .about_cnt {
    background-image: url("../images/about-me-desktop-img.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top 50% right;
    overflow: hidden;
    padding: 0 1.5rem;
    align-items: center;
    min-height: 60vw;
  }

  .about_info {
    width: 50%;
  }

  .resume_btn {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  /******************* skills ****************/
  .skill_col {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .ul_skill {
    width: 33%;
  }

  /********************** contact me *********************/

  .contact_cnt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4.5rem 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .ContactDescript {
    text-align: left;
    margin: 0 1rem;
  }

  .form_input_fields {
    padding-top: 0;
    margin: 0 1rem;
  }

  .project_btn_submit {
    align-self: flex-start;
  }

  /************* footer ************/
  .footer-icon:hover {
    transform: translateY(-0.5rem);
    transition: var(--transition-transform);
    font-size: larger;
    font-weight: bold;
    color: var(--color-font-menu-selected);
  }
}

/** Animations **/

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/*********************** high resolution ***********************/

/************** only increases a litle font sizes **************/

@media screen and (min-width: 992px) {
  .menu-mobile {
    display: none;
  }

  .Toolbar {
    height: 4.5rem;
  }

  .socialmediaicon {
    height: 1.5rem;
    width: auto;
  }

  .big-title {
    font-size: 4.5rem;
  }

  .Supportingtext {
    font-size: 2rem;
  }

  .Simpletext {
    padding-top: 0.7rem;
    font-size: 1.25rem;
  }
}
