/**************** variables and general settings ***************/
:root {
  --color-font-menu: #fff5e1;
  --color-font-menu-selected: #f7f6f5;
  --color-font-title1: #ff6b00;
  --color-font-title2: #fff5e1;
  --color-font-text1: #fff5e1;
  --color-back-bars: #3c3a39;
  --color-back-content1: #1c1a19;
  --font-toolbar: 'Roboto', serif;
  --font-title1: 'Crete Round', serif;
  --font-title2: 'Roboto', serif;
  --font-text1: 'Poppins', serif;
  --transition-transform: transform 0.7s ease;
  --transition-font: font-size 0.7s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: var(--color-back-content1);
}

/**************** mobile version - mobile fisrt design ***************/

.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-back-bars);
  height: 48px;
  padding-right: 1rem;
  font-family: var(--font-toolbar);
  color: var(--color-font-menu);
}

.Mylogo {
  font-size: large;
  padding-left: 1.5rem;
  background-color: var(--color-back-bars);
  text-decoration: none;
}

.menu-pc {
  display: none;
}

.menu-mobile {
  background-color: var(--color-back-bars);
}

.burguer-menu {
  margin-right: 1rem;
  background-color: var(--color-back-bars);
  height: 1rem;
}

.main-frame {
  display: flex;
  background-color: var(--color-back-content1);
  bottom: 0;
}

.content1 {
  display: flex;
  flex-direction: column;
  width: min-content+10%;
}

.bgimg {
  background: url('../images/background.png') no-repeat;
  background-size: 230%;
  background-position-y: 70%;
  overflow: hidden;
  width: 30rem;
  margin-right: 0%;
  margin-left: -20%;
}

.Headline {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Title1 {
  color: var(--color-font-title1);
  font-family: var(--font-title);
  font-style: normal;
  padding-top: 5.6rem;
  font-weight: 400;
  font-size: 2rem;
}

.Title2 {
  padding-top: 0.3rem;
  color: var(--color-font-title2);
  font-family: var(--font-title2);
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
}

.Simpletext {
  padding: 1rem 0;
  color: var(--color-font-text1);
  font-family: var(--font-text1);
  font-style: normal;
  font-size: 0.7rem;
}

.iconlist{
  list-style: none;
}

.Socialmedia {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 0.5rem 12rem 0rem;
  margin-left: 1.5rem;
}

.socialmediaicon {
  padding-right: 0.5rem;
  height: 1rem;
  width: auto;
}

.socialmediaicon:hover {
  transform: translateY(-0.3rem);
  transition: var(--transition-transform);
}

.burguer-menu:hover {
  transform: translateY(-0.1rem);
  transition: var(--transition-transform);
}

/****************** media queries (375px) medium size version *********************/
@media (min-width: 375px) {
  .content1 {
     width: auto;
   }

  .Title1 {
    padding-top: 5.6rem;
    font-weight: 400;
    font-size: 3.4rem;
  }

  .bgimg {
    background-size: 200%;
    background-position-y: 0%;
    width: 20rem;
    margin-right: 0%;
    margin-left: 0%;
  }
}

/********************** End Medium Size Version **************/

/*********************** desktop version ***********************/
@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }

  .menu-pc {
    display: flex;
    font-size: small;
    color: var(--color-font-menu);
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
    background-color: var(--color-back-bars);
    order: 3;
  }

  .item-menu-pc {
    padding: 0 1rem 0 1rem;
    background-color: var(--color-back-bars);
  }

  .item-menu-pc-icon {
    padding: 0;
    background-color: var(--color-back-bars);
    height: 1rem;
  }

  .item-menu-pc:hover {
    transform: translateY(-0.2rem);
    transition: var(--transition-transform), var(--transition-font);
    font-size: larger;
    font-weight: bold;
    color: var(--color-font-menu-selected);
  }

  .item-menu-pc-icon:hover {
    transform: translateY(-0.2rem);
    transition: var(--transition-transform);
    font-weight: bold;
    color: var(--color-font-menu-selected);
  }

  .Headline {
    width: 50%;
  }
  .content1 {
    flex-direction: row;
    width: auto;
  }

  .Title1 {
    font-size: 3rem;
  }

  .Title2 {
    font-size: 1.5rem;
  }

  .Simpletext {
    font-size: 1rem;
    padding-bottom: 10rem;
  }

  .Socialmedia {
    flex-direction: column;
    align-self: stretch;
    order: -1;
    justify-content: center;
    padding: 1.5rem 1rem 2rem 1rem;
  }

  .socialmediaicon {
    height: 1.5rem;
    padding: 0.5rem;
  }

  .socialmediaicon:hover {
    transform: translateX(0.5rem);
    transition: var(--transition-transform);
    font-size: larger;
    font-weight: bold;
    color: var(--color-font-menu-selected);
  }

  .bgimg {
    background-size: 100%;
    background-position-y: 0%;
    width: 30rem;
    height: auto;
    margin-right: 0%;
    margin-left: -40%;
  }
}

/*********************** end of desktop version ***********************/
